<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.0.4" targetFramework="net45" />
  <package id="Common.Logging" version="2.0.0" targetFramework="net45" />
  <package id="Common.Logging.Log4Net" version="2.0.1" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="DevExpress_Promoter_All" version="14.1.6" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.1.3" targetFramework="net45" />
  <package id="EPPlus" version="4.0.4" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.4.0.88" targetFramework="net45" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="net45" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="net45" />
  <package id="Stimulsoft.WPF" version="2015.1.0.0" targetFramework="net45" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net45" />
</packages>